{% extends 'base.html' %}
{% block content %}
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>

    <h2>Tasks</h2>
    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'task_view' pk=project.pk task_pk=task.pk %}">{{ task.summary }}</a>
                <a href="{% url 'task_update' pk=task.pk %}">edit>>></a>
                <a href="{% url 'task_delete' pk=task.pk %}">delete>>></a>
            </li>
        {% empty %}
            <li>No tasks yet</li>
        {% endfor %}
    </ul>
{% endblock %}
